body{background-color:yellow;}

div#container{border:solid 8px green;
height:900px;
width:1200px;
background-color:white;
border-radius:15px;}

div.menu{
	border:solid 4px blue;
	height:650px;
width:200px;
background-color:yellow;
border-radius:3px}
div.menu{position:absolute;
left:20px;
top:240px;}

div.box1{
	border:solid 4px blue;
	height:180px;
width:1000px;
background-color:pink;
border-radius:3px;}

p.headline{font-family:"serif"; font-size:60px;"}

div.box1{position:absolute;
left:20px;
top:20px;}

div.ball{position:absolute;
left:100px; 
top:300px;}